@using ProjectManager.Models.Utils;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectManager.styles.css" asp-append-version="true" />

    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="ServerPrerendered" />

    
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_container">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <img class="menu_icon" onclick="toggleMenu()" src="/Media/menu_icon.svg" alt="Menu icon">
                }
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo_icon" src="/Media/flover.png" alt="Logo">
                </a>
                <h4 class="Page_title">@ViewData["Title"]</h4>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="account_buttons">
                        <h5 class="mb-0"> @UtilityFunctions.CapitalizeFirstLetter(User.Identity.Name)</h5>
                        <div class="profilepicture_container">
                            <img class="profile_picture" src="/Media/flover.png" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="account_buttons">
                        <form asp-action="Login" asp-controller="Account" method="get">
                            <button type="submit" class="custom_button">Login</button>
                        </form>
                    </div>
                }

            </div>
        </nav>
    </header>
    @{
        var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    }
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
       
        <aside class="side_nav close">
            <ul>
                <li class="@(currentController == "Profile" ? "active" : "")">
                    <a>
                        <img src="/Media/person_icon.svg" />

                        <span>Account</span>
                    </a>
                </li>
                <li class="@(currentController == "Projects" ? "active" : "")">
                    <a href="/Projects" >
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="m226-559 78 33q14-28 29-54t33-52l-56-11-84 84Zm142 83 114 113q42-16 90-49t90-75q70-70 109.5-155.5T806-800q-72-5-158 34.5T492-656q-42 42-75 90t-49 90Zm178-65q-23-23-23-56.5t23-56.5q23-23 57-23t57 23q23 23 23 56.5T660-541q-23 23-57 23t-57-23Zm19 321 84-84-11-56q-26 18-52 32.5T532-299l33 79Zm313-653q19 121-23.5 235.5T708-419l20 99q4 20-2 39t-20 33L538-80l-84-197-171-171-197-84 167-168q14-14 33.5-20t39.5-2l99 20q104-104 218-147t235-24ZM157-321q35-35 85.5-35.5T328-322q35 35 34.5 85.5T327-151q-25 25-83.5 43T82-76q14-103 32-161.5t43-83.5Zm57 56q-10 10-20 36.5T180-175q27-4 53.5-13.5T270-208q12-12 13-29t-11-29q-12-12-29-11.5T214-265Z" /></svg>
                        <span>Projects</span>
                    </a>
                </li>
                <li class="@(currentController == "Tasks" ? "active" : "")">
                    <a>
                        <img src="/Media/task_icon.svg" />
                        <span>Tasks</span>
                    </a>
                </li>
                <li class="@(currentController == "Statistics" ? "active" : "")">
                    <a>
                        <img src="/Media/chart_icon.svg" />
                        <span>Analytics</span>
                    </a>

                </li>
            </ul>
        </aside>
    }


        <div class="container_own">
            <main role="main" class="pb-3">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
                @RenderBody()
            </main>
        </div>

    <footer>
        <div class="footer_container">
            <div class="footer_1">
                <p>Github:</p>
                <a class="github_link" href="https://github.com/aleksihayrynen/Project-Manager-FullStack" target="_blank">
                    <img class="github_logo" src="/Media/Github.png" />
                </a>
            </div>
            <div class="footer_2">
                <p>© 2025 - ProjectManager -</p>
            </div>
            <div class="footer_3">
            <p>Made by: </p>
            <p>Aleksi Häyrynen</p>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
