@using ProjectManager.Models.ViewModels
@using ProjectManager.Models.Utils
@model AddTaskViewModel

<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addTaskform" method="post">
                    <div class="form-group">
                        <label for="TaskName" class="control-label">Title:</label>
                        <input asp-for="TaskName" class="form-control" />
                        <span asp-validation-for="TaskName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Description" class="control-label">Description:</label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="AssignedTo" class="control-label">Choose people:</label>
                        <select asp-for="AssignedTo" class="form-control">
                            @foreach (var member in Model.UserInfo)
                            {
                                <option value="@member.UserId"> @UtilityFunctions.CapitalizeFirstLetter(member.Username) - @UtilityFunctions.CapitalizeFirstLetter(member.FirstName) @UtilityFunctions.CapitalizeFirstLetter(member.LastName) </option>
                            }
                        </select>
                        <input asp-for="UserInfo" type="hidden" value="@Model.UserInfo" />

                    </div>

                    <div class="form-group">
                        <label for="DueDate" class="control-label">Due date</label>
                        <input type="date" asp-for="DueDate" class="form-control" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-deny" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
            
    </script>

}
