@using ProjectManager.Components
@using ProjectManager.Models.ViewModels
@model ProjectDetailsViewModel

<div class="button_parent" style="position:relative;">
    <div class="AddItem_div">
        <div class="project_search_group">
            <input class="project_searchbar" />
            <button>Search</button>
        </div>
        <div class="project_details_buttons">
            <button type="button" class="btn btn-success" id="showModalButton">
                Add Item
            </button>

            @if (Model.Project.OpenInvite)
            {
                <button type="button" class="btn btn-success" id="InvitePeople">
                    Invite
                </button>
            }
            else if (!Model.Project.OpenInvite && Model.Project.Members.FirstOrDefault(e => e.UserId == Model.CurrentUser)?.Role == "Member")
            {
                <p>You cannot add people to this project</p>
            }
            else if (!Model.Project.OpenInvite && Model.Project.Members.FirstOrDefault(e => e.UserId == Model.CurrentUser)?.Role == "Owner")
            {
                <button type="button" class="btn btn-success" id="InvitePeople">
                    Invite
                </button>
            }

        </div>
        
    </div>
</div>
<div class="detail_tabs">
    <a asp-action="Details" asp-controller="Projects"  asp-route-project_id="@Model.Project._id" asp-route-project_title="@Model.Project.Title">
        
        <div class="tab_nav active">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF0FF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm200-80v-240H200v240h200Zm80 0h280v-240H480v240ZM200-520h560v-240H200v240Z" /></svg>
            <p>Summary</p>
        </div>
    </a>

    <a asp-action="MyTasks" asp-controller="Projects" asp-route-project_id="@Model.Project._id">
        <div class="tab_nav">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF0FF"><path d="M272-160q-30 0-51-21t-21-51q0-21 12-39.5t32-26.5l156-62v-90q-54 63-125.5 96.5T120-320v-80q68 0 123.5-28T344-508l54-64q12-14 28-21t34-7h40q18 0 34 7t28 21l54 64q45 52 100.5 80T840-400v80q-83 0-154.5-33.5T560-450v90l156 62q20 8 32 26.5t12 39.5q0 30-21 51t-51 21H400v-20q0-26 17-43t43-17h120q9 0 14.5-5.5T600-260q0-9-5.5-14.5T580-280H460q-42 0-71 29t-29 71v20h-88Zm208-480q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" /></svg>
            <p>MyTasks</p>

        </div>
    </a>

    <a asp-action="Members" asp-controller="Projects" asp-route-project_id="@Model.Project._id">
        <div class="tab_nav">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF0FF"><path d="M411-480q-28 0-46-21t-13-49l12-72q8-43 40.5-70.5T480-720q44 0 76.5 27.5T597-622l12 72q5 28-13 49t-46 21H411Zm24-80h91l-8-49q-2-14-13-22.5t-25-8.5q-14 0-24.5 8.5T443-609l-8 49ZM124-441q-23 1-39.5-9T63-481q-2-9-1-18t5-17q0 1-1-4-2-2-10-24-2-12 3-23t13-19l2-2q2-19 15.5-32t33.5-13q3 0 19 4l3-1q5-5 13-7.5t17-2.5q11 0 19.5 3.5T208-626q1 0 1.5.5t1.5.5q14 1 24.5 8.5T251-596q2 7 1.5 13.5T250-570q0 1 1 4 7 7 11 15.5t4 17.5q0 4-6 21-1 2 0 4l2 16q0 21-17.5 36T202-441h-78Zm676 1q-33 0-56.5-23.5T720-520q0-12 3.5-22.5T733-563l-28-25q-10-8-3.5-20t18.5-12h80q33 0 56.5 23.5T880-540v20q0 33-23.5 56.5T800-440ZM0-240v-63q0-44 44.5-70.5T160-400q13 0 25 .5t23 2.5q-14 20-21 43t-7 49v65H0Zm240 0v-65q0-65 66.5-105T480-450q108 0 174 40t66 105v65H240Zm560-160q72 0 116 26.5t44 70.5v63H780v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5Zm-320 30q-57 0-102 15t-53 35h311q-9-20-53.5-35T480-370Zm0 50Zm1-280Z" /></svg>
            <p>Members</p>
        </div>
    </a>

</div>

<div id="modalContainer"></div>
<div id="searchUsersModal" class="InviteModal_container">
    <div id="InviteModal_overlay"></div>
    <div class="Invitemodal-content">
        <button class="close_InviteModal_button" onclick="hideModal()">✖</button>
        <component type="typeof(SearchUsers)" render-mode="ServerPrerendered" param-ProjectId="@Model.Project._id.ToString()" />
    </div>
</div>

<div class="project_nav_items">

</div>
<div class"timefilters">

</div>
<div class="project_info_boxes">
    <div class="info_box">
        <div class="infbox_pic">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#ff4545"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" /></svg>
        </div>
        <div class="infobox_text">
            <p>Tasks Late: @Model.LateTask.Count()</p>
        </div>
    </div>
    <div class="info_box">
        <div class="infbox_pic">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#FFFF55"><path d="m40-120 440-760 440 760H40Zm104-60h672L480-760 144-180Zm340.18-57q12.82 0 21.32-8.68 8.5-8.67 8.5-21.5 0-12.82-8.68-21.32-8.67-8.5-21.5-8.5-12.82 0-21.32 8.68-8.5 8.67-8.5 21.5 0 12.82 8.68 21.32 8.67 8.5 21.5 8.5ZM454-348h60v-224h-60v224Zm26-122Z" /></svg>
        </div>
        <div class="infobox_text">
            <p>Task Assigned: @Model.AssignedTask.Count()</p>
        </div>
    </div>
    <div class="info_box">
        <div class="infbox_pic">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#146c43"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" /></svg>
        </div>
        <div class="infobox_text">
            <p>Task Completed: @Model.CompletedTask.Count()</p>
        </div>
    </div>

</div>

<component type="typeof(TaskList)" render-mode="ServerPrerendered" param-ProjectId="@(Model.Project._id.ToString())" />




@section Scripts {
    <script src="_framework/blazor.server.js"></script>
    <script>

        function hideModal() {
            searchUsersModal.style.display = "none";
        }

        $(document).ready(function () {
            function loadModal() {
                $.get('@Url.Action("AddTaskModal", "Projects", new { project_id = Model.Project._id})', function (response) {
                    $('#modalContainer').html(response);
                    $('#addTaskModal').modal('show');
                });
            }

            // Load modal on button click
            $('#showModalButton').click(loadModal);


            // Delegate the form submission to dynamically loaded content
            $('#modalContainer').on('submit', '#addTaskform', function (e) {
                e.preventDefault();
                
                const $submitBtn = $(this).find('button[type="submit"]');
                $submitBtn.prop('disabled', true).text('Submitting...');

                $.ajax({
                    url: '@Url.Action("AddTask", "Projects", new { project_id = @Model.Project._id })',
                    type: 'POST',
                    data:$(this).serialize(),
                    success: function (response) {
                    if (response.success) {
                        $('#addTaskModal').modal('hide');
                        location.reload();
                    } else {
                        // Clean up old modal + backdrop
                        $('.modal-backdrop').remove();
                        $('#addTaskModal').modal('hide');
                        $('#addTaskModal').remove();

                        // Inject updated modal with errors
                        $('#modalContainer').html(response);
                        $('#addTaskModal').modal('show');
                    }
                },
                complete: function () {
                // Re-enable button if needed (in case of validation errors)
                $submitBtn.prop('disabled', false).text('Save');
                }
            });
        });

        const modalContainer = document.getElementById("searchUsersModal");

        document.getElementById("InvitePeople").addEventListener("click", () => {
            modalContainer.style.display = "block";
            document.getElementById("searchUsersModal").style.display = "block"

        });


        var modal = document.getElementById("InviteModal_overlay");
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            searchUsersModal.style.display = "none";
          }
        }

        });
    </script>

}