@model List<Project>

<div class="button_parent" style="position:relative;">
    <div class="AddItem_div">
        <button type="button" class="btn btn-success" id="showModalButton">
            Add Item
        </button>
    </div>
</div>

<div id="modalContainer"></div>


@foreach (var project in Model)
{
    <div class="project_div">
        <a class="project_link" href="@Url.Action("Details", "Projects", new { id = project._id, project_title = project.Title })">
            <h1>@project.Title</h1>
            <p>Created: @project.CreatedAt</p>
            <p>Open Invite: @project.OpenInvite</p>
            <p>Open Create: @project.OpenCreate</p>

            <h4>Members:</h4>
            @foreach (var member in project.Members)
            {
                <p>UserId: @member.Username</p>
                <p>Role: @member.Role</p>
            }
        </a>
        
    </div>
}

@section Scripts {

    <script>
            $(document).ready(function () {
            $(document).on('click', '.toggle-btn', function () {
                var value = $(this).data('value');
                var target = $(this).data('target');
                console.log(this.data);

                // Set the hidden input value
                $('#' + target).val(value);

                // Remove active class from both buttons in the same group
                $(this).siblings('.toggle-btn').removeClass('active');
                // Add active class to clicked button
                $(this).addClass('active');
            });
        });

        $(document).ready(function () {
            function loadModal() {
                $.get('@Url.Action("addProjectModal", "Projects")', function (response) {
                    $('#modalContainer').html(response);
                    $('#addProjectModal').modal('show');
                });
            }

            // Load modal on button click
            $('#showModalButton').click(loadModal);


            // Delegate the form submission to dynamically loaded content
            $('#modalContainer').on('submit', '#addProjectform', function (e) {
                e.preventDefault();
                var form = $(this);
                console.log(form);

                $.ajax({
                    url: '@Url.Action("AddProject", "Projects")',
                    type: 'POST',
                    data: form.serialize(),
                    success: function (response) {
                    if (response.success) {
                        $('#addProjectModal').modal('hide');
                        location.reload();
                    } else {
                        // Clean up old modal + backdrop
                        $('.modal-backdrop').remove();
                        $('#addProjectModal').modal('hide');
                        $('#addProjectModal').remove();

                        // Inject updated modal with errors
                        $('#modalContainer').html(response);
                        $('#addProjectModal').modal('show');
                    }
                }
                });
            });
        });
    </script>

}
